@font-face {
    font-family: 'MuseoSansBold';
    src: url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot');
    src: url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff2') format('woff2'),
        url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff') format('woff'),
        url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansMedium';
    src: url('../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot');
    src: url('../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.woff2') format('woff2'),
        url('../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.woff') format('woff'),
        url('../fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansBold';
    src: url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot');
    src: url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff2') format('woff2'),
        url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff') format('woff'),
        url('../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}